<div class="news">
  {% if site.news  %}
    <font size="5" >
      <table>
      {% assign news = site.news | reverse %}
      {% for item in news %}
        <tr>
          <td class="date" width="14%">{{ item.date | date: "%b %-d, %Y" }}</td>
          <td class="announcement">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </font>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
